<%= form_for @login, url: sessions_path do |f| %>

  <div class='input-group'>
    <span class='input-group-addon'><i class='fa fa-envelope-o fa-fw'></i></span>
    <%= f.text_field :email, { class: 'form-control', placeholder: 'Email' } %>
  </div>

  <p class='errors'><%= show_errors(@login, :email) %></p>

  <div class='input-group'>
    <span class='input-group-addon'><i class='fa fa-key fa-fw'></i></span>
    <%= f.password_field :password, { class: 'form-control', placeholder: 'Password' } %>
  </div>

  <p class='errors'><%= show_errors(@login, :password) %></p>

  <p class='errors'><%= show_errors(@login, :login) %></p>

  <%= f.submit 'Log In', class: 'btn btn-default' %>

<% end %>
