<%= form_for @user do |f| %>

  <div class='input'>
    <p>I own cats</p>
    <hr>
    <%= f.check_box :cats %>
  </div>

  <p class='errors'><%= show_errors(@user, :cats) %></p>

  <div class='input'>
    <p>I have children</p>
    <hr>
    <%= f.check_box :children %>
  </div>

  <p class='errors'><%= show_errors(@user, :children) %></p>

  <div class='input'>
    <p>I want my doggo to be</p>
    <hr>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-3'>
          <p>Chill<br />
          AF</p>
        </div>
        <div class='col-xs-6'>
          <%= f.range_field :energy, in: (1..5) %>
        </div>
        <div class='col-xs-3'>
          <p>Heckin' Crazy</p>
        </div>

      </div>
    </div>
  </div>

  <p class='errors'><%= show_errors(@user, :energy) %></p>

  <%= f.submit 'Confirm Settings', class: 'btn btn-default' %>
<% end %>

